.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### etc ###
*.bak
*~
Thumbs.db
/.classpath
/.project
/.idea/
/bin/
/.settings/
/.gradle/
/build/
/src/test/java/sandbox
*.log
*.log.*
logs/

